.menu-list {
    padding: 20px 0 26px;
    padding-left: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    max-height: 48px;
    font-family: var(--font-family);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }

    &.active {
        color: var(--primary-color);

        .icon {
            display: none;
        }

        .icon-active {
            display: inline;
        }
    }

}



.title {
    margin-left: 8px;
}

.icon-active {
    display: none;
}